.Project {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    white-space: normal;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-shrink: 0;
    padding-right: 2.5rem;
    max-width: 20rem;
}

.Project .Details {
    width: 100%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.Project .Details .Category {
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: +1px;
}

.Project .Details .Title {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: 700;
}

.Project .Details .Tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    line-height: 1.2rem;
}

.Project .Details .Tags span {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.Project .Details .Links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.Project .Details .Links a {
    display: inline-block;
    margin-right: 2rem;
}

.Project .Details .Links svg {
    width: 1.3rem;
    height: 1.3rem;
    transition: all 0.3s ease-out;
}

.Project .Details .Links svg:hover {
    fill: var(--primary-color);
}

.Project .ProjectImageWrapper {
    width: 100%;
    max-width: 25rem;
    height: 15rem;
    border-radius: var(--border-radius);
    box-shadow: 0 0 2.5rem var(--box-shadow-color);
    transition: all 0.3s ease-out;
}

.Project .ProjectImageWrapper:hover {
    transform: translate3d(0px, -0.125rem, 0px);
    box-shadow: 0 0 2.5rem var(--box-shadow-hover-color);
}

.Project .ProjectImage {
    border-radius: var(--border-radius);
}

@media (min-width: 480px) {
    .Project {
        max-width: 25rem;
        padding-right: 5rem;
    }
}

@media (min-width: 992px) {
    .Project {
        justify-content: space-between;
        flex-shrink: 1;
        max-width: 62.5rem;
        margin-bottom: 8rem;
        padding-right: 0;
        flex-direction: row;
    }

    .Project .Details {
        margin-top: 0;
    }

    .Project .ProjectImageWrapper {
        height: 18.75rem;
    }
}

.Button {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 15.625rem;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0rem 0rem 1rem 0rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
}

.selectedButton {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 15.625rem;
    background-color: var(--box-shadow-hover-color);
    color: var(--subtext-color);
    padding: 0rem 0rem 1rem 0rem;
    margin: 1 auto;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
}

.Button:hover,
.Button:active {
    cursor: pointer;
    outline: none;
}

.Button:focus {
    outline-color: var(--subtext-color);
    outline-style: dotted;
    outline-width: 2px;
}

.Interests {
    display: grid;
    grid-template-columns: repeat(1, 17.5rem);
    grid-auto-flow: row;
    column-gap: 1rem;
    row-gap: 1rem;
}

.Interest {
    width: 17.5rem;
    height: 3rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border: 0.125rem solid var(--primary-color);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
}

.Interests button {
    max-width: 17.5rem;
}

.Interest .Icon {
    margin-right: 0.5rem;
}

@media (min-width: 600px) {
    .Interests {
        grid-template-columns: repeat(2, 15.625rem);
    }

    .Interest {
        width: 15.625rem;
    }

    .Interests button {
        max-width: 15.625rem;
    }
}

@media (min-width: 880px) {
    .Interests {
        grid-template-columns: repeat(3, 15.625rem);
    }
}